html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-back-button {
  color: #005BBB;
}

ion-label {
  font-weight: bold;
}

ion-content {
  --background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  display: block;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  padding: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

ion-card {
  max-width: 600px;
  width: 100%;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  color: grey;
  border-bottom: 1px solid #BDC3C7;
}

ion-input {
  color: grey;
}

.guardar {
  --background: green;
}

.cancelar {
  --color: white;
  --background: orange;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #005BBB;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}

.left-content {
  margin-left: 20px;
    ion-icon {
      color: #005BBB;
  }
}

.right-content {
  margin-right: 20px;
  ion-icon {
      color: #005BBB;
  }
}

ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: white;
}

.nombre-empresa {
  font-size: 16px;
  font-weight: bold;
}

ion-header {
  margin-top: 30px;
}

ion-toolbar {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-title {
  text-align: center;
}

ion-button {
  margin-top: 10px;
}
