html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 /*  overflow: hidden; */
  box-sizing: border-box;
}

ion-back-button{
  color: #005BBB;
}

ion-label{
   font-weight: bold;
   }
 
// Estilos parte central /

ion-content {
  --background:#FFFFFF;
   font-family: 'Open Sans', sans-serif;
   /* display: flex; */
   display: block;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow-y: hidden; //para evitar el scroll vertical
   /* height: 100vh; */  //que no crezca más allá de la altura de la ventana
   height: 100%;
   padding: 0;
   box-sizing: border-box;

 }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;

  ion-card {
    max-width: 600px;
    width: 100%;
   }
 }

 
 // Items de formulario //

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  color: grey;
  border-bottom: 1px solid #BDC3C7; 
}

ion-label {
  color: grey;
}

ion-input {
  color: grey;
}

.guardar{
 --background: green;
}

.cancelar{
--color: white;
--background: orange;
}

.footer-content {
  display: flex; /* Alinear elementos horizontalmente */
  justify-content: space-between; /* Separar elementos a los extremos */
  align-items: center; /* Centrar elementos verticalmente */
  width: 100%; /* Usar todo el ancho disponible */
  color: #005BBB;
}

.left-content {
  display: flex;
  align-items: center;
  margin-left: 20px;

  ion-icon {
    font-size: 24px;
    margin-right: 8px; /* Espacio entre ícono y texto */
    color: #005BBB;
  }
}

.right-content {
  display: flex;
  align-items: center;
  margin-right: 20px;

  ion-icon {
    font-size: 24px;
    margin-right: 8px; /* Espacio entre ícono y texto */
    color: #005BBB;
  }

  .nombre-empresa {
    font-size: 16px; /* Ajustar tamaño del texto */
    font-weight: bold; /* Opcional: negrita */
  }
}
ion-header{
    margin-top: 30px;
    ion-toolbar {
      --padding-start: 16px; /* Ajustar separación lateral */
      --padding-end: 16px; /* Ajustar separación lateral */
    }
}
  ion-title {
    text-align: center;
  }

  ion-button{
        margin-top: 10px;

  }