html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 /*  overflow: hidden; */
  box-sizing: border-box;
}
ion-header{
  margin-top: 30px;
  ion-toolbar {
    --background: #005BBB;
    color: #FFFFFF;
  }

  ion-title {
    text-align: center;
    color: #fff;
  }
}

// Estilos parte central /

ion-content {
  --background:#FFFFFF;
   font-family: 'Open Sans', sans-serif;
   /* display: flex; */
   display: block;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow-y: hidden; //para evitar el scroll vertical
   /* height: 100vh; */  //que no crezca más allá de la altura de la ventana
   height: 100%;
   padding: 0;
   box-sizing: border-box;
 }

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;

  ion-card {
    max-width: 600px;
    width: 100%;
   }
 }
 
 .welcome{  
  display: flex;      
  color: #005BBB;
  font-size: x-large;
  justify-content: center;
  margin-bottom: 16px;
  }

 .img-col{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  img.responsive-img{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
  }
 }

@media screen and (orientation: landscape) {

  html, body {
    overflow: auto;
  }

  ion-content{
    overflow-y:auto; // hace scroll si es necesario
    height: auto;  //crece si el contenido lo necesita
  }

  .card-container ion-card ion-row {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .img-col{
     max-width: 200px;
    
    img.responsive-img{
      max-height: 150px;
      width: auto;
    }
  }
  .welcome {
    font-size: large;
  }
}
 .welcome { 
        display: flex;
        justify-content: center;
        color: #005BBB;
        font-size: x-large;
        margin-bottom: 16px;
      } 
     
// Items de formulario //

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  color: grey;
  border-bottom: 1px solid #BDC3C7; 
}

ion-label {
  color: grey;
}

ion-input {
  color: grey;
}

//Botones /

ion-button.ion-color-primary {
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    --background: #005BBB;
    color: #FFFFFF;
    --border-radius: 8px;
  }

/*   ion-button.ion-color-secondary {
    --background: #005BBB;
    color: #FFFFFF;
    --border-radius: 8px;
  } */

  .footer-content {
    display: flex; /* Alinear elementos horizontalmente */
    justify-content: space-between; /* Separar elementos a los extremos */
    align-items: center; /* Centrar elementos verticalmente */
    width: 100%; /* Usar todo el ancho disponible */
    color: #005BBB;
   }

   ion-toolbar {
      --padding-start: 16px; /* Ajustar separación lateral */
      --padding-end: 16px; /* Ajustar separación lateral */
    } 
  
   .left-content {
    display: flex;
    align-items: center;
    color: #005BBB;
    
  
    ion-icon {
      font-size: 24px;
      color: #005BBB; /* Azul personalizado */
      margin-right: 8px; /* Espacio entre ícono y texto */
    }
  } 
  
  .right-content {
    display: flex;
    align-items: center;
    color: #005BBB;
    margin-right: 20px;
  
     ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB;
    } 
  
    .nombre-empresa {
      font-size: 16px; /* Ajustar tamaño del texto */
      font-weight: bold; /* Opcional: negrita */
    }
  }
 

