ion-header {
  margin-top: 30px;
}

ion-toolbar {
  --padding-start: 16px;
  --padding-end: 16px;
}

.ion-margin-top{
  text-transform: capitalize;
  font-size: 18px;
  height: 45px;  
  background-color: #005BBB;
  color: white;
  border-radius: 12px; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #005BBB;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}

.left-content {
  margin-left: 20px;
}

.right-content {
  margin-right: 20px;
}

.left-content ion-icon,
.right-content ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #005BBB;
}

.nombre-empresa {
  font-size: 16px;
  font-weight: bold;
}

.mensaje_guardar {
  color: #2ECC71;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}
