ion-back-button{
    color: #005BBB;
  }
  
  .custom-card {
      margin-bottom: 16px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }
  
    ion-card-header {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .user-header {
      display: flex;
      align-items: center;
          align-items: flex-start; /* Icono arriba alineado al nombre */
      gap: 10px;
    }
    
    .icon-card {
      font-size: 30px;
      color: #005BBB;
      margin-right: 8px;
      vertical-align: middle
    }
    .icon-card-calendar{
      font-size: 14px;
      color: grey;
      margin: 0 8px 0 32px;
      vertical-align: middle
    }
  
    .car-matricula {
      margin: 0 0 0 18px;
      font-size: 14px;
      color: #555;
    } 
    
    .user-info {
      display: flex;
      flex-direction: column;
    }
    
    ion-card-title {
      font-size: 18px;
      font-weight: bold;
    }
    
    ion-card-subtitle {
      font-size: 14px;
      color: #666;
    }
  
     .car-matricula {
      margin: 0 0 0 40px;
      font-size: 14px;
      color: #555;
    }  
  
       .user-header {
      display: flex;
  
    }  
  
    .icon-card{
      font-size: 30px; 
      color: #005BBB; 
    }
  
    .boton-detalles {
      text-align: center;
      margin-top: 8px;
    }
  
    .footer-content {
      display: flex; /* Alinear elementos horizontalmente */
      justify-content: space-between; /* Separar elementos a los extremos */
      align-items: center; /* Centrar elementos verticalmente */
      width: 100%; /* Usar todo el ancho disponible */
      color: #005BBB;
    }
    
    .left-content {
      display: flex;
      align-items: center;
    
      ion-icon {
        font-size: 24px;
        margin-right: 8px; /* Espacio entre ícono y texto */
        color: #005BBB;
      }
    }
    
    .right-content {
      display: flex;
      align-items: center;
    
      ion-icon {
        font-size: 24px;
        margin-right: 8px; /* Espacio entre ícono y texto */
        color: #005BBB;
      }
    
      .nombre-empresa {
        font-size: 16px; /* Ajustar tamaño del texto */
        font-weight: bold; /* Opcional: negrita */
      }
    }
    
    ion-toolbar {
      --padding-start: 16px; /* Ajustar separación lateral */
      --padding-end: 16px; /* Ajustar separación lateral */
    }
  