<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    
    <ion-button *ngIf="rol === 'conductor'" expand="full" fill="solid" size="large"  [ngStyle]="{'--background': '#8E44AD ' }" (click)="iniciarViaje()">Iniciar Viaje</ion-button>
    <ion-button *ngIf="rol === 'conductor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#cb4335' }" (click)="verUsuario(usuarioRecuperado)">Mi Perfil</ion-button>
    <ion-button *ngIf="rol === 'admin' || rol === 'gestor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#cb4335' }" (click)="verUsuario(usuario)">Usuarios</ion-button>
    <ion-button expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#1e8449' }" (click)="verVehiculos()">Vehículos</ion-button>
    <ion-button *ngIf="rol === 'admin' || rol === 'gestor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#005BBB'}" (click)="verViajes()">Viajes</ion-button>
    <ion-button *ngIf="rol === 'conductor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#005BBB '}" (click)="verViajes()">Mis Viajes</ion-button>
    <ion-button *ngIf="rol === 'conductor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#B2AE3A'}" (click)="verHelpConductor()">Help</ion-button>
    <ion-button *ngIf="rol === 'admin'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#B2AE3A'}" (click)="verHelpAdministrador()">Help</ion-button>
    <ion-button *ngIf="rol === 'gestor'" expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#B2AE3A'}" (click)="verHelpGestor()">Help</ion-button>
    <ion-button expand="full" fill="solid" size="large" [ngStyle]="{'--background': '#34495E'}" (click)="cerrarSesion()">Cerrra Sesión</ion-button>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="left-content">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        {{usuario.nombre}} 
      </div>
      <div class="right-content">                
        <ion-icon slot="end" name="car-outline"></ion-icon>
        <span class="nombre-empresa">DriveControl</span>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>