.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start; /* Coloca los botones cerca de la parte superior */
    height: 80vh; /* Reduce la altura para evitar mucho espacio vacío */
    padding-top: 60px; /* Ajusta la distancia desde la parte superior */
  }
  ion-button {
    width: 80%; /* Ajusta el ancho de los botones */
    --background: #adb1ee;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: rgb(245, 245, 250);
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;

  }

 /*  ion-title{
    color: #005BBB;
  } */

  .footer-content {
    display: flex; /* Alinear elementos horizontalmente */
    justify-content: space-between; /* Separar elementos a los extremos */
    align-items: center; /* Centrar elementos verticalmente */
    width: 100%; /* Usar todo el ancho disponible */
    color: #005BBB;
    
  }
  
  .left-content {
    display: flex;
    align-items: center;
    color: #005BBB;
    
  
    ion-icon {
      font-size: 24px;
      color: #005BBB; /* Azul personalizado */
      margin-right: 8px; /* Espacio entre ícono y texto */
    }
  }
  
  .right-content {
    display: flex;
    align-items: center;
    color: #005BBB;
  
    ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB;
    }
  
    .nombre-empresa {
      font-size: 16px; /* Ajustar tamaño del texto */
      font-weight: bold; /* Opcional: negrita */
    }
  }
  
  ion-toolbar {
    --padding-start: 16px; /* Ajustar separación lateral */
    --padding-end: 16px; /* Ajustar separación lateral */
  }
