ion-back-button{
  color: #005BBB; 
}
.custom-card {
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  ion-checkbox {
    --background: #fff; /* Fondo blanco */
    --border-radius: 50%; /* Hacerlo redondo */
    --border-width: 2px; /* Un borde un poco más grueso */
    --border-color: #3880ff; /* Color del borde (puedes cambiarlo) */
  }
  
  ion-checkbox[checked] {
    --background: #3880ff; /* Fondo azul cuando está seleccionado */
    --border-color: #3880ff; /* Borde azul cuando está seleccionado */
  }

  .icon-card{
    font-size: 30px; 
    color: #3880ff; 
    margin-right: 8px;
    vertical-align: middle
  }

  .car-matricula {
    margin: 0 0 0 28px;
    font-size: 14px;
    color: #555;
  } 

  .footer-content {
    display: flex; /* Alinear elementos horizontalmente */
    justify-content: space-between; /* Separar elementos a los extremos */
    align-items: center; /* Centrar elementos verticalmente */
    width: 100%; /* Usar todo el ancho disponible */
    color: #005BBB; 
  }
  
  .left-content {
    display: flex;
    align-items: center;
  
    ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB; 
      
    }
  }
  
  .right-content {
    display: flex;
    align-items: center;
  
    ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB; 
    }
  
    .nombre-empresa {
      font-size: 16px; /* Ajustar tamaño del texto */
      font-weight: bold; /* Opcional: negrita */
    }
  }
  
  ion-toolbar {
    --padding-start: 16px; /* Ajustar separación lateral */
    --padding-end: 16px; /* Ajustar separación lateral */
  }
