ion-back-button{
  color: #005BBB; 
}
.custom-card {
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  ion-checkbox {
    --background: #fff; /* Fondo blanco */
    --border-radius: 50%; /* Hacerlo redondo */
    --border-width: 2px; /* Un borde un poco más grueso */
    --border-color: #3880ff; /* Color del borde (puedes cambiarlo) */
  }
  
  ion-checkbox[checked] {
    --background: #3880ff; /* Fondo azul cuando está seleccionado */
    --border-color: #3880ff; /* Borde azul cuando está seleccionado */
  }

  .icon-card{
    font-size: 30px; 
    color: #3880ff; 
    margin-right: 8px;
    vertical-align: middle
  }

  .car-matricula {
    text-align: center;
    margin: 0 0 0 28px;
    font-size: 18px;
    color: #555;
  } 

  .footer-content {
    display: flex; /* Alinear elementos horizontalmente */
    justify-content: space-between; /* Separar elementos a los extremos */
    align-items: center; /* Centrar elementos verticalmente */
    width: 100%; /* Usar todo el ancho disponible */
    color: #005BBB; 
  }
  
  .left-content {
    display: flex;
    align-items: center;
    margin-left: 20px;
  
    ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB; 
      
    }
  }
  
  .right-content {
    display: flex;
    align-items: center;
    margin-right: 20px;
  
    ion-icon {
      font-size: 24px;
      margin-right: 8px; /* Espacio entre ícono y texto */
      color: #005BBB; 
    }
  
    .nombre-empresa {
      font-size: 16px; /* Ajustar tamaño del texto */
      font-weight: bold; /* Opcional: negrita */
    }
  }

  
.card-disponible {
  border: 2px solid #10dc60; 
}

.card-ocupado {
  border: 2px solid #ed0b12; 
}

.disponible-centrado {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.disponible-text {
  color: green;
}

.ocupado-text {
  color: red;
}
ion-header{
  margin-top: 30px;
  ion-toolbar {
    --padding-start: 16px; /* Ajustar separación lateral */
    --padding-end: 16px; /* Ajustar separación lateral */
  }
}
  ion-title {
    text-align: center;
  }
  .botonGuardar {
    width: 80%; 
    max-width: 80%; 
    height: 45px;
    margin-top: 20px;
    font-size: 18px;
    display: block; /* Para que se centre con margin auto */
    margin-left: auto;
    margin-right: auto;
  }