/* Estilos generales */
ion-back-button {
  color: #005BBB;
}

/* Estilos para los vehículos */
.custom-card {
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los checkboxes */
ion-checkbox {
  --background: #fff;
  --border-radius: 50%;
  --border-width: 2px;
  --border-color: #3880ff;
}

ion-checkbox[checked] {
  --background: #3880ff;
  --border-color: #3880ff;
}

/* Iconos dentro de las tarjetas */
.icon-card {
  font-size: 30px;
  color: #3880ff;
  margin-right: 8px;
  vertical-align: middle;
}

/* Estilos para la matrícula */
.car-matricula {
  text-align: center;
  margin: 0 0 0 28px;
  font-size: 18px;
  color: #555;
}

/* Estilos para el footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #005BBB;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #005BBB;
}

.nombre-empresa {
  font-size: 16px;
  font-weight: bold;
}

/* Estilos de tarjetas para disponibilidad */
.card-disponible {
  border: 2px solid #10dc60;
}

.card-ocupado {
  border: 2px solid #ed0b12;
}

/* Estilos de disponibilidad */
.disponible-centrado {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.disponible-text {
  color: green;
}

.ocupado-text {
  color: red;
}

/* Estilos para el header */
ion-header {
  margin-top: 30px;
}

ion-toolbar {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-title {
  text-align: center;
}

/* Estilos para el botón de guardar */
.botonGuardar {
  width: 80%;
  max-width: 80%;
  height: 45px;
  margin-top: 20px;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
