/* Botones e íconos */
ion-back-button,
ion-icon {
  color: #005BBB;
}

/* Tarjetas */
ion-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-card {
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0 1rem 0.5rem;
  }

  ion-button {
    font-size: 0.9rem;
    color: var(--ion-color-primary);

    ion-icon {
      margin-right: 4px;
    }
  }
}

/* Footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #005BBB;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}

.left-content {
  margin-left: 20px;
}

.right-content {
  margin-right: 20px;
}

.left-content ion-icon,
.right-content ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #005BBB;
}

.nombre-empresa {
  font-size: 16px;
  font-weight: bold;
}

/* Header */
ion-header {
  margin-top: 30px;

  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
  }
}

