html, body {
  height: 100%;
  overflow: hidden;
}
ion-header {
  margin-top: 30px;
}

ion-back-button {
  color: #005BBB;
}

ion-title {
    text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: var(--ion-safe-area-top, 56px);
  padding-bottom: 50px;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.seccion {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vehiculo-container,
.cronometro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.cronometro-container {
  margin-bottom: 30px;
}

.cronometro {
  font-size: 3.5rem;
  font-weight: bold;
  background: #c0d0f7;
  color: #34495E;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 220px;
}

ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-col {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  max-width: 300px;
  width: 100%;
}

ion-button {
  width: 100%;
}

.boton {
  max-width: 350px;
  height: 50px;
  border-radius: 38px;  
  font-size: medium;
  background-color: #005BBB;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.texto-swiper {
  font-size: large;
  margin-left: 8px;
  flex-grow: 1;
  text-align: left;
 
}

ion-col ion-icon {
  position: absolute;
}

.left {
  left: 0;
  transform: translateX(3px);
}

.right {
  right: 0;
  transform: translateX(-3px);
}

ion-content {
  --overflow: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #005BBB;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
}

.left-content {
  margin-left: 20px;
}

.right-content {
  margin-right: 20px;
}

.left-content ion-icon,
.right-content ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: #005BBB;
}

.nombre-empresa {
  font-size: 16px;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .cronometro-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .vehiculo-container,
  .cronometro-container {
    margin: 0;
  }

  .container {
    justify-content: flex-start;
  }
}
