<ion-content [fullscreen]="true">
  <ion-menu contentId="menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>Contenido</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item routerLink="/login">Login</ion-item>
          <ion-item>Usuarios</ion-item>
          <ion-item>Menu 3</ion-item>
          <ion-item>Menu 4</ion-item>
          <ion-item>Menu 5</ion-item>
          <ion-item>Menu 6</ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu> 

  <div class="ion-page" id="menu">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button color="primary" name="menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <p>Clica en el lateral para abrir el menu.</p>

      <!-- Botón para capturar la fecha y hora actual  -->

      <ion-button expand = "full" (click)="capturarFechaHora()">{{ esInicio ? 'INICIO' : 'FINAL' }}</ion-button>
      <ion-button expand = "full" (click)="guardarStore()">GUARDAR</ion-button>


      <!-- Mostrar la fecha y hora Inicio -->
      <ion-card *ngIf="fechaHoraInicio">
        <ion-card-header>
          <ion-card-title>INICIO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ fechaHoraInicio }}
        </ion-card-content>
      </ion-card>

      <!-- Mostrar la fecha y hora Final -->
      <ion-card *ngIf="fechaHoraFinal">
        <ion-card-header>
          <ion-card-title>FINAL</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ fechaHoraFinal }}
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</ion-content>


